h1{
	text-align: center;
	color: green;
}
.nav{
	background-color: #33cc33;


}
ul{
	color:white;
}
.navbar-myclass li a{
	color:white;
	background-color: #33cc33;
		
	font-family: "Comic Sans MS";
}
.container{
	width: 500px;
	align-items: left;
}
#contact{
	margin-left: 100px;
	text-align: left;
	margin-top: 10px;
}

.idk{
	height: 50px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.fatbit{
	width:200px;
	height: 200px;
	position:absolute;
	left:600px;
	top:100px;
}
