h1{
	text-align: center;
	color: green;
}
.nav{
	background-color: #33cc33;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0, 0,0,0.19);

}
ul{
	color:white;
}
.navbar-myclass li a{
	color:white;
	background-color: #33cc33;
		
	font-family: "Comic Sans MS";
}

